* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #333;
}
.social_icons a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    border: 1px solid #eee;
    margin: 0 10px;
    z-index: 1;
    transition: .5s;
}
.social_icons a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
    transition: .5s;
    color: #333;
}
.social_icons a::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background: #eee;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social_icons a:hover {
    transform: rotate(135deg);
}
.social_icons a:nth-child(1):hover {
    background: #1DA1F2;
    box-shadow: 0 0 5px #1DA1F2, 0 0 10px #1DA1F2;
}
.social_icons a:nth-child(2):hover {
    background: #4267B2;
    box-shadow: 0 0 5px #4267B2, 0 0 10px #4267B2;
}
.social_icons a:nth-child(3):hover {
    background: #E1306C;
    box-shadow: 0 0 5px #E1306C, 0 0 10px #E1306C;
}
.social_icons a:nth-child(4):hover {
    background: #25D366;
    box-shadow: 0 0 5px #25D366, 0 0 10px #25D366;
}
.social_icons a:nth-child(5):hover {
    background: #FF0000;
    box-shadow: 0 0 5px #FF0000, 0 0 10px #FF0000;
}
.social_icons a:hover i {
    transform: rotate(225deg);
}
.social_icons a:nth-child(1):hover i {
    color: #1DA1F2;
}
.social_icons a:nth-child(2):hover i {
    color: #4267B2;
}
.social_icons a:nth-child(3):hover i {
    color: #E1306C;
}
.social_icons a:nth-child(4):hover i {
    color: #25D366;
}
.social_icons a:nth-child(5):hover i {
    color: #FF0000;
}